---
interface Props {
  title: string;
  icon: string;
}
const { title, icon } = Astro.props;
---

<div class="card">
  <div class="card-header">
    <i class={`fa-solid ${icon}`} aria-hidden="true"></i>
    <span>{title}</span>
  </div>
  <div class="card-body">
    <slot />
  </div>
</div>
